# Copier ce fichier en .env et remplir les vraies valeurs

ENV_LOCAL=1
DEV=1


# Conf pour écran: 1920 x 1080 (1912 x 1086 'nets - 1040 si barre de menus')
GSM_WINDOW_LEFT = 1913 # Default 1386 (1 écran) - 810 pour vidéo (Capture 2,3,1342,800)- 1913 pour sur 2ème écran
GSM_WINDOW_CLI  =    1 # 0 ('défaut) pas de CLI sous la fenêtre - 1 300 px de place dessous pour la CLI

UPU_WINDOW_LEFT = 2445 # Focée à 1913 si UPU only (./go u)
UPU_WINDOW_CLI  =    1

GSM_DEBUG_RELEASE_JSON = 1


GITHUB_TOKEN=your_github_personal_access_token
GDRIVE_CREDENTIALS={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"...","client_email":"...","client_id":"..."}

# pip install python-dotenv google-api-python-client google-auth google-auth-oauthlib google-auth-httplib2

# uv add google-api-python-client
# uv add google-auth
# uv add google-auth-oauthlib
# uv add google-auth-httplib2

# Use C:\gsm\scripts\gdrive_get_token.py to get these 4 values et les ajouter dahs GH
GDRIVE_FOLDER_ID=your_google_drive_folder_id
GDRIVE_CLIENT_ID=
GDRIVE_REFRESH_TOKEN=
GDRIVE_CLIENT_SECRET=


# Pour ./gu (Git user switch)
EMAIL_MP=xx@x.com
EMAIL_GC7=xy@x.com
